<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Login_User.css">
    </head>
<title>Login User</title>
<body ng-app="app">
    <div id = "text" >
       
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1><br> If you are already Registered,<br> Enter the Username and <br> Password to Login!</h1>
    </div>
    <div class="container" ng-controller="neelash">
        <h1>{{varNeelash}}</h1>
<div class="Heading">
<h1> User Login </h1>

</div>

<form name="myForm" id="demo" method="POST">

  <label for="mail" class="labels">Username:</label><br>
  <input type="email" name="mail" placeholder="Enter the E-mail Id"required><br>

  <label for="password" class="labels">Password:</label><br>
  <input type="password"  name="password" placeholder="Enter the Password"  required><br>

  
  <button type="submit" name="submit" class="submitbutton" ng-click="LoginForm()">Login</button>
  <div ng-controller="neelash">
  {{ testString }}<br>
    {{validationString}}
</form>
</div>
<script src="./angular.min.js"></script>
<script src="./jquery-3.6.0.min.js"></script>
<script src="./script1.js"></script>
</body>
</html>