<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="User_Registration.css">
    </head>
<title>User Login</title>
<body ng-app="app">
    <div class="container" ng-controller="neelash">
        <h1>{{varNeelash}}</h1>
<div class="Heading">
    <p> New User Must Register to LOGIN </p>
<h1> User Registration Form </h1>
</div>

<form name="myForm" id="demo" method="POST" >

  <label for="fname" class="labels">First Name:</label><br>
  <input type="text" name="fname" placeholder="Enter the First Name..." asp:TextBox ID="txtfName" runat="server" required><br>

  <label for="lname" class="labels">Last Name:</label><br>
  <input type="text" name="lname" placeholder="Enter the Last Name..." asp:TextBox ID="txtlName" runat="server"required><br>

  <label for="no" class="labels">Mobile No:</label><br>
  <input type="text" name="no" maxlength="10" placeholder="Enter the MobileNo." asp:TextBox ID="txtmobNo" runat="server"required ><br>

  <label for="mail" class="labels">E-mail ID:</label><br>
  <input type="email" name="mail" placeholder="Enter the Email-Id" asp:TextBox ID="txtemailId" runat="server" required><br>
  
  <label for="password" class="labels">Password:</label><br>
  <input type="password"  name="password" placeholder="Enter the Password" asp:TextBox ID="txtpassword" runat="server" required><br>

  <button type="submit" name="submit" class="submitbutton" ng-click="validateForm()">Register</button>

  <a href="LoginPage.html" class="loginPage">Already Registered</a>
 
</form>
</div>
<script src="./angular.min.js"></script>
<script src="./jquery-3.6.0.min.js"></script>
<script src="./script.js"></script>
</body>
</html>